PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/smart_wear_exchange
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
COOKIE_EXPIRES_IN=7
SESSION_SECRET=your_session_secret_key_here

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@smartware.com
ADMIN_PASSWORD=Admin@12345
ADMIN_PHONE=+66812345678
